<div class="force-fullscreen">
  {{#leaf-map mapEvents="click moveend" mapClick="mapClick" mapMoveend="mapMoveend"}}
    {{#leaf-control}}
      <h2 id="title">Center: {{latlng}}@{{zoom}}</h2>
    {{/leaf-control}}

    {{leaf-tile-mapbox startLatlng=latlng startZoom=zoom}}

    {{outlet}}
  {{/leaf-map}}
</div>